[user]
	email = sairoutine@gmail.com
	name = sairoutine
[push]
	default = simple
[pull]
	rebase = true
[merge]
	ff = false
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
